* {
  font-family: Calibri, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  text-align: justify;
  box-sizing: border-box;
}

a,
button {
  -webkit-tap-highlight-color: transparent;
}

html {
  overflow-y: scroll;
}

body {
  background-color: rgb(254, 252, 246);
}

.header-container {
  background-color: rgb(252, 244, 224);
  height: 200px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgb(135, 23, 31);
}

.header {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.logo {
  display: block;
  width: 615px;
}

.logo img {
  width: 100%;
  height: 100%;
}

.page {
  max-width: 1200px;
  margin: auto;
}

.navbar_page-container {
  display: none;
  overflow: hidden;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 2000;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
}

.navbar_vert-container {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2000;
}

.gallery-container {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2001;
}

.gallery-link {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
  line-height: 0;
}

.article {
  display: none;
  padding: 0px 40px;
  max-width: 880px;
  margin: auto;
}

.article figure img,
.cocoen,
.gallery-image,
.gallery-subtitle,
.footer-text,
footer button,
.article-tabla a {
  border-radius: 7px;
}

.article figure {
  text-align: center;
}

.article p {
  margin: 16px 0;
}

.article figcaption {
  margin-bottom: 16px;
  font-variant: small-caps;
  font-size: 14px;
}

.article img {
  width: 100%;
}

.article h1 {
  font-weight: bold;
  font-size: 30px;
  color: rgb(135, 23, 31);
  margin: 48px 0 32px 0;
}

.article-tabla {
  margin: 40px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.article-tabla a {
  background-color: rgb(135, 23, 31);
  text-decoration: none;
  color: white;
  height: 50px;
  align-items: center;
  padding: 0 10px;
}

footer {
  box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.5);
  background-color: rgb(252, 244, 224);
  width: 100%;
  margin-top: 40px;
  border-top: 1px solid rgb(135, 23, 31);
  display: block;
  padding: 20px;
}

#showAuthors {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: rgb(135, 23, 31);
  color: white;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  margin: 20px auto 0;
  max-width: 800px;
  transition: border-radius 0.3s;
  padding: 10px;
}

.footer-text {
  display: none;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-out;
  transition: padding 0.5s ease-out;
  background-color: rgb(135, 23, 31);
  color: white;
  padding: 0;
  border-radius: 0 0 7px 7px;
  max-width: 800px;
  margin: auto;
}


.footer-logos {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: auto;
  max-width: 800px;
  height: 100%;
}

.footer-logo {
  width: 200px;
  height: 100px;
  max-width: 100%;
  max-height: 100%;
  margin: 10px 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.footer-logos a {
  text-decoration: none;
  color: inherit;
}

.footer-logo div {
  display: flex;
  flex-flow: column nowrap;
  align-self: stretch;
  align-content: flex-end;
}

.footer-logo:last-child {
  margin-bottom: 0;
}

.footer-logo img {
  max-width: 100%;
  max-height: 100%;
}

.footer-logo p {
  text-align: center;
  font-size: 12px;
  text-decoration: none;
  margin-top: 5px;
}

.tabs {
  display: flex;
  max-width: 100%;
  max-height: 50px;
}

.tab {
  align-content: center;
  padding: 0 10px;
  border: none;
  outline: none;
  border-bottom: 2px solid rgb(135, 23, 31);
  background-color: transparent;
  border-radius: 7px 7px 0 0;
}


.tab.on {
  color: white;
  background-color: rgb(135, 23, 31);
}

.tabs-content > * {
  display: none;
}

.sketchfab {
  width: 100%;
  height: 800px;
}

#zemljevid {
  height: 936px;
}

#google-zemljevid {
  width: 100%;
  height: 936px;
}

#article_zemljevid {
  margin-top: 48px;
  max-width: 1200px;
  padding: 0;
}



.menu-button {
  display: none;
  cursor: pointer;
  border: none;
  outline: none;
  float: right;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: transparent;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  background-color: rgb(135, 23, 31);
}



@media screen and (max-width: 1099px) {
  .header-container {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 2000;
  }

  .header {
    padding: 0px 40px;
    max-width: 880px;
    margin: auto;
    display: block;
  }

  .menu-button {
    display: block;
  }

  .logo {
    position: relative;
    width: 150px;
    height: auto;
    float: left;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  footer {
    padding: 40px;
  }
}
