* {
	font-family: Calibri, sans-serif;
	font-style: normal;
	font-size: 16px;
	margin: 0;
	padding: 0;
	text-align: justify;
	box-sizing: border-box;
}

a {
	-webkit-tap-highlight-color: transparent;
}

html {
	overflow-y: scroll;
}

body {
	background-color: rgba(252, 244, 224, 0.25);
}

.header-container {
	background-color: rgb(252, 244, 224);
	width: 100%;
	height: 200px;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
	border-bottom: 1px solid rgb(152, 0, 0);
	overflow: hidden;
}

.header {
	width: 100%;
	height: inherit;
	text-align: center;
	line-height: 0;
}

.logo {
	display: inline-block;
	width: 615px;
	max-width: 60%;
	height:	auto;
	position: relative;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	line-height: 0;
}

.page {
	max-width: 880px;
	margin: auto;
	padding: 0px 40px;
}

/*nav home*/

.navbar_home-container {
	display: none;
}

.navbar_home {
	display: inherit;
	width: 800px;
	margin: auto;
	overflow: hidden;
}

.navbar_home-element {
	float: left;
	text-decoration: none;
}

.navbar_home-circle {
	cursor: pointer;
	overflow: hidden;
	height: 185px;
	width: 185px;
	border-radius: 50%;
}

.navbar_home-element:hover img {
	transform: scale(1.05, 1.05);
	transition: transform 0.3s;
}

.navbar_home-text {
	cursor: pointer;
	margin: 15px 0 0 0;
	text-align: center;
	color: rgb(152, 0, 0);
}

.navbar_home-spacing {
	width: 20px;
	height: 184px;
	display: inline;
	float: left;
}

 /*nav page*/

.navbar_page-container {
	display: none;
	overflow: hidden;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.navbar_page-background {
	background-color: rgb(152, 0, 0);
	margin: auto;
	width: 100%;
	height: 50px;
	text-align: justify;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
}

.navbar_page {
	width: 1100px;
	height: inherit;
	margin: auto;
}

.navbar_page:after {
	display: inline-block;
	content: "";
	width: 100%;
}

.navbar_page-text {
	text-decoration: none;
	display: inline-block;
	padding: 7px 6px 5px 6px;
	border-radius: 10px;
	color: rgb(254, 252, 246);
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.navbar_page-text:hover {
	background-color: rgba(211, 135, 135, 0.4);
}

.navbar_page-circle {
	height: 4px;
	width: 4px;
	background-color: rgb(254, 252, 246);
	border-radius: 50%;
	display: inline-block;
	position: relative;
	top: 7px;
}

.selected_page {
	height: 2px;
	border-radius: 1px;
	background-color: rgb(254, 252, 246);
	position: relative;
	bottom: -4px;
	display: block;
	margin: auto;
	visibility: hidden;
}

.navbar_vert-container {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

}

.navbar_vert {
	display: block;
	position: fixed;
	text-align: left;
	width: 300px;
	background-color: rgb(254, 252, 246);
	border-radius: 5px;
	padding: 20px 20px;
	top: 0px;
	bottom: 0px;
	box-shadow: 3px 0 3px rgba(0, 0, 0, 0.5);
}

.navbar_vert-background {
	background-color: rgba(0, 0, 0, 0.5);
	cursor: pointer;
	position: fixed;
	z-index: 101;
	top: 0;
	right: 0;
	bottom: 0;
	left: 300px;
	
}

.navbar_vert-text {
	display: block;
	text-decoration: none;
	color: rgb(152, 0, 0);
	background-color: rgb(246, 246, 246);
	margin: 2px 0px;
	padding: 10px 0px 10px 10px;
	border-radius: 5px;
}

.navbar_vert-text:first-child {
	margin-top: 0px;
}

.navbar_vert-text:last-child {
	margin-bottom: 0px;
}

#menu_button {
	display: none;
	width: 40px;
	height: 25px;
	border-radius: 5px;
	text-align: center;
	z-index: 99;
	position: absolute;
	left: 40px;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

#menu_button div {
	width: 40px;
	height: 5px;
	background-color: rgba(0, 0, 0, 0.5);
	margin: 5px 0px;
	border-radius: 3px;
}

#menu_button div:first-child {
	margin-top: 0;
}

#menu_button div:last-child {
	margin-bottom: 0;
}

.gallery-container {
	display: none;
	z-index: 100;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.gallery-background {
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.gallery-image {
	max-width: 100%;
	max-height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.gallery-link {
	background: none;
	border: none;
	padding: 0;
	color: #069;
	text-decoration: underline;
	cursor: pointer;
	outline: none;
	line-height: 0;
}

.article {
	display: none;
}

.article figure {
	margin: 0 0 20px 0;
	text-align: center;
}

.article figure a {
	display: inline-block;
	line-height: 0;
}

.article img {
	width: 100%;
	margin-top: 20px;
}

.article h1 {
	font-weight: bold;
	font-size: 30px;
	padding: 0px 0px 27px 0px;
	color: rgb(152, 0, 0);
}

.article b {
	font-weight: bold;
}

footer {
	width: 100%;
	height: 100px;
	border-top: 2px solid rgb(152, 0, 0);
	margin-top: 40px;
}

@media screen and (max-width: 1099px) {
	
	#menu_button {
		display: inline-block;
	}

	.logo {
		transform: translateY(0);
		right: 40px;
	}

	.header-container {
		margin-bottom: 40px;
	}

	.header {
		height: auto;
		text-align: right;
		position: relative;
		top: 50%;
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}
}