* {
	font-family: "Open Sans";
	font-weight: lighter;
	font-style: normal;
	font-size: 1em;
	margin: 0;
	padding: 0;
	text-align: justify;
	box-sizing: border-box;
}

html {
	overflow-y: scroll;
}

body {
	background-color: rgba(252, 244, 224, 0.25);
}

.header {
	background-color: rgb(252, 244, 224);
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
	border-bottom: 1px solid rgb(152, 0, 0);
	overflow: auto;
	text-align: center;
	/*padding: 44px 0px;*/
	padding: 26px 0px;
}

.header a {
	display: inline-block;
	width: 369px; /*619*/
}

.logo {
	
}

.page {
	max-width: 800px;
	margin: auto;
	padding: 0px 20px;
}

/*nav home*/

.navbar_home-container {
	display: none;
}

.navbar_home {
	display: inherit;
	width: 800px;
	margin: auto;
	overflow: hidden;
}

.navbar_home-element {
	float: left;
	text-decoration: none;
}

.navbar_home-circle {
	cursor: pointer;
	overflow: hidden;
	height: 185px;
	width: 185px;
	border-radius: 50%;
}

.navbar_home-element:hover img {
	transform: scale(1.05, 1.05);
	transition: transform 0.2s;
}

.navbar_home-text {
	cursor: pointer;
	margin: 15px 0 0 0;
	text-align: center;
	font-weight: 400;
	color: rgb(152, 0, 0);
}

.navbar_home-spacing {
	width: 20px;
	height: 184px;
	display: inline;
	float: left;
}

 /*nav page*/

.navbar_page-container {
	display: none;
	overflow: hidden;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.navbar_page-background {
	background-color: rgb(152, 0, 0);
	margin: auto;
	width: 100%;
	height: 50px;
	text-align: justify;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
}

.navbar_page {
	width: 1100px;
	height: inherit;
	margin: auto;
}

.navbar_page:after {
	display: inline-block;
	content: "";
	width: 100%;
}

.navbar_page-text {
	text-decoration: none;
	display: inline-block;
	padding: 7px 6px 5px 6px;
	border-radius: 10px;
	font-weight: 400;
	font-size: 14px;
	color: rgb(254, 252, 246);
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.navbar_page-text:hover {
	background-color: rgba(211, 135, 135, 0.4);
}

.navbar_page-circle {
	height: 4px;
	width: 4px;
	background-color: rgb(254, 252, 246);
	border-radius: 50%;
	display: inline-block;
	position: relative;
	top: 7px;
}

.selected_page {
	height: 2px;
	border-radius: 1px;
	background-color: rgb(254, 252, 246);
	position: relative;
	bottom: -4px;
	display: block;
	margin: auto;
	visibility: hidden;
}

.article {
	display: none;
}

.article img {
	width: 100%;
}

.article h1 {
	font-weight: bold;
	font-size: 30px;
	padding: 0px 0px 27px 0px;
	color: rgb(152, 0, 0);
}

.article b {
	font-weight: bold;
}

.navbar_vert-container {
	display: none;
	position: fixed;
	text-align: left;
	width: 300px;
	background-color: rgb(254, 252, 246);
	border-radius: 5px;
	padding: 20px 20px;
	top: 0px;
	bottom: 0px;
	box-shadow: 3px 0 3px rgba(0, 0, 0, 0.5);
}

.navbar_vert-text {
	display: block;
	text-decoration: none;
	color: rgb(152, 0, 0);
	background-color: rgb(246, 246, 246);
	margin: 2px 0px;
	padding: 10px 0px 10px 10px;
	border-radius: 5px;
}

.navbar_vert-text:first-child {
	margin-top: 0px;
}

.navbar_vert-text:last-child {
	margin-bottom: 0px;
}

#menu_button {
	width: 50px;
	height: 50px;
	border-radius: 5px;
	border: none;
	background-color: rgb(246, 246, 246);
	margin-bottom: 20px;
}

#menu_button div {
	width: 30px;
	height: 4px;
	background-color: rgba(0, 0, 0, 0.5);
	margin: 5px 10px;
	border-radius: 2px;
}

@media screen and (max-width: 1099px) {
	
	.navbar_vert-container {
		display: block;
	}

	.header {
		margin-bottom: 50px;	
}